<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.niriqiang.cashPlayBook.dao.CostMapper">
    <resultMap id="BaseResultMap" type="cn.niriqiang.cashPlayBook.dto.CostAndFirstSecondTypeDto">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="money" jdbcType="DOUBLE" property="money"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="necessary" jdbcType="INTEGER" property="necessary"/>
        <result column="mark" jdbcType="VARCHAR" property="mark"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <association property="firstType" javaType="cn.niriqiang.cashPlayBook.model.CostFirstType">
            <id property="id" column="fid" jdbcType="INTEGER"/>
            <result property="name" column="fname" jdbcType="VARCHAR"/>
        </association>
        <association property="secondType" javaType="cn.niriqiang.cashPlayBook.model.CostSecondType">
            <id property="id" column="sid"/>
            <result property="name" column="sname"/>
            <result property="fid" column="fid"/>
        </association>
    </resultMap>


    <select id="findListByCondition" resultMap="cn.niriqiang.cashPlayBook.dao.CostMapper.BaseResultMap">
        SELECT a.*,b.id fid,b.name fname,c.id sid,c.name sname
        FROM cost a,cost_first_type b,cost_second_type c
        <where>
            <if test="necessary!=null">
                necessary=#{necessary}
            </if>
            <if test="type!=null">
                and type=#{type}
            </if>
            <if test="start!=null">
                and create_time &gt;= #{start}
            </if>
            <if test="end!=null">
                and create_time &lt;= #{end}
            </if>
            <if test="gtMoney !=null">
                and money &gt;= #{gtMoney}
            </if>
            <if test="ltMoney !=null">
                and money &lt;= #{ltMoney}
            </if>
            and a.uid = #{uid} and b.id=c.fid and c.id=a.type
            order by create_time desc
        </where>
    </select>
    <select id="getSumByStartAndEnd" resultType="java.lang.Double">
        SELECT sum(money)
        FROM `cash&amp;planbook`.cost
        WHERE create_time >= #{start}
              AND create_time &lt;= #{end} AND uid = #{uid}
    </select>

</mapper>
